.mu{
    background-color:#178bb3;
}
.display-4{
    color: white;
}
.lead{
    color: white;
}
.card{
    background-color: #FFBD07;
    box-shadow:-5px -5px 7px -2px #0b495ebb;
}

.list-group-item{
    background-color: white;
}
.card-link{
    color: rgb(34, 32, 41);
}
.card-title{
    color: black;
    font-family: 'Lucida Sans';
}