
<app-user-nav></app-user-nav>
<div class="jumbotron jumbotron-fluid mu">
    <div class="container">
      <h1 class="display-4">Bienvenido {{propietario.nombrePropietario}}</h1>
      <p class="lead">En el siguiente modulo podrás gestionar tus plantiamigas</p>
    </div>
</div>

<br>

<div class="container">
    <div class="row" >  
      <div class="col-sm-12 col-md-6 col-lg-4 p-3 " *ngFor="let planta of plantas">

        <div class="card text-center">
            <img src="{{planta.fotoPlanta}}" class="card-img-top" alt="..." width="200" height="300"  >
            <div class="card-body">
              <h5 class="card-title">{{planta.nombrePlanta}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Familia:    <b> {{planta.especie}}</b></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link"><b><u>Ver Datos</u></b></a>
              <a href="#" class="card-link"><b><u>Gestionar</u></b></a>
            </div>
          </div>


                
<!--            <a href="/civilizacion/{{civilizacion.idCivilizacion}}" class="btn btn-primary">Ver más</a> -->
       
  
  </div>
</div>

