.mu{
    background-color:#178bb3;
}
.display-4{
    color: white;
    font-family: fantasy;
}
.lead{
    color: white;
}
.card{
    background-color: #FFBD07;
    box-shadow:-5px -5px 7px -2px #0b495ebb;
}

.list-group-item{
    background-color: white;
}
.card-link{
    color: rgb(50, 17, 168);
    font:x-large;
}
.card-title{
    color: black;
    font: menu;
    font-size: 250%;
    font-family: cursive;
}
