<!--Modulo: Juan Camilo Cruz Jimenez-->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<br>
<div class="container ">
    <div class="jumbotron jumbotron-fluid  mu">
        <div class="container text-center">
          <h1 class="display-3 titulo">Primer registro de tu planta</h1>
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-4 p-3">
                <img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/tener-girasoles-en-casa-guentherdillingen.jpg" alt="plantPhoto" width="250" height="200">
            </div>
            <div class="profile">
           
                <p>
                <label for="nombrePlanta">Nombre: </label>
                <label for="nombrePlanta">{{ plantaInfo.data[0].nombrePlanta }}</label>
                </p>

                <p>
                <label for="idPropietario">Identificacion propierario: </label>
                <label for="idPropietario">{{ plantaInfo.data[0].idPropietario }}</label>
                </p>

                <p>
                <label for="especie">Especie de la planta: </label>
                <label for="especie">{{ plantaInfo.data[0].especie }}</label>
                </p>
            
        
            
        </div>          
          </div>
        </div>
      </div>
</div>  
<div class="responsive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="general">
        <div class="procesos">
            <p>
                <label for="fechaRegistroLabel">Fecha de registro: </label>
                <label for="fecha">{{ fecha }}  </label>
            </p>
        </div>
        </div>
    </div>
   