general{
    height: 500px;
    
}
*{
    box-sizing: border-box;
  }
  button{
    background: orange;
  }

.header{
    width: 100%;
    background: rgb(109, 58, 138);
    background: linear-gradient(90deg, rgb(76, 49, 110)0%, rgb(122, 70, 156) 49%, rgb(127, 80, 155) 100%);
    padding: 2% 10%;
    text-align: center;
  }
  
  h1{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:#D0D3D4;
  }

  .profile{
      border: #ffffff 2px solid;
      width: 50%;
      float: left;
      font-size: 20px;
  }

  .procesos{
    border: #ffffff 2px solid;
    width: 50%;
    float: right;
    font-size: 20px;
    
  }

  .update-picture{
      text-align: center;
  }

  p{
      padding: 10px;
  }

  .switch{
      padding: 10px;
  }

  .image{
      text-align: center;
  }
  

  .new-plant-button{
      padding: 10px;
  }

  .tasks-button{
    padding: 10px;
    position: relative; left: 240px; bottom: 56px;
  }

  .buttons{
    position: relative; top: 70px;
  }

  @media only screen and (max-width: 820px){
    .profile{
        width: 100%;
    }
    .procesos{
      width: 100%;
    }
  }
 
  @media only screen and (max-width: 410px){
    .new-proyect-button{
        padding: 10px;
        position: relative; bottom: 100px;
        left: auto;
        text-align: center;
    }

    .update-button{
        padding: 10px;
        position: relative; bottom: 100px;
        left: auto;
        text-align: center;

    }

    .compromise-button{
        padding: 10px;
        position: relative; bottom: 100px;
        left: auto;
        text-align: center;
    }
  
    .tasks-button{
        padding: 10px;
        position: relative; bottom: 100px;
        left: auto;
        text-align: center;
    }
}
  