<app-nav-all></app-nav-all>
  
<br>
<div class="container ">
    <div class="jumbotron jumbotron-fluid  mu">
        <div class="container text-center">
          <h1 class="tituloHappyplant">HAPPYPLANT</h1>
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-4 p-3">
                <img class="imgCont" src="https://i.ibb.co/1TzD8kr/presentacion.jpg" width="300" height="300" />
              </div>
              <div class="col-sm-12 col-md-8 p-3">
                <h1><i>¡Saludos!</i></h1>
                <p class="lead">
                  La protección y cuidado de las plantas es muy importante para nuestro planeta, si tienes plantas y quieres cuidar de ellas HappyPlant es la solución, podrás tener control de las diferentes plantas que tienes, ver la información en tiempo real y recibir consejos sobre la especie que tienes gracias a la Base de datos de HappyPlant.
                </p>
                <p class="lead">
                  
                  La distancia no será un impedimento para el cuidado tu planta será una planta inteligente conectada a internet y transmitiendo información sobre su estado y necesidades diarias haciendo el cuidado más fácil que nunca
                </p>
              </div>              
          </div>
        </div>
      </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 p-3">
            <div class="card text-center mu" >
                <img src="https://i.ibb.co/xzKLV5v/Our-Hardware.png" width="400" height="400" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><B>HAPPYPLANT</B></h5>
                  <p class="card-text" >No te preocupes, nuestra HappyPlant esta compuesta por</p>
                  <p class="card-text">-Modulo WIFI Node MCU ESP8266.</p>
                  <p class="card-text">-Sensor ultra Sonico HC-SR04MH</p>
                  <p class="card-text">Sensor de Humedad YL-100</p>
                  <h6><b>Ninguno de nuestros compuestos lastimara a tu pequeña amiga</b></h6>
                  <a href="#" class="btn btn-primary">Sientete tranquilo</a>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-6 p-3">
          <div class="card text-center mu" >
              <img src="https://campusvirtual.poligran.edu.co/img/logopoli_w.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><B>¿Quiénes Somos?</B></h5>
                <p class="card-text">
                  El IoT y la necesidad de las personas en el manejo de información remota, control de elementos y supervisión de sus diferentes propiedades ha llevado al desarrollo de HappyPlant.
                </p>
                <br>
                <p class="card-text">Somos un equipo de estudiantes del politécnico grancolombiano sede Bogotá que brindando una solución al control y supervisión remota de las plantas, ayuda a las personas a tener un control de estas y mantenerlas saludables.
                </p>
                <a href="#" class="btn btn-primary">El equipo</a>
              </div>
            </div>
      </div>
    </div>
</div>

<br>

