
.titulo{
    text-align: center;
}

.mu{
    box-shadow: 0px 10px 10px -6px black;
}
.tituloHappyplant{
    text-align: center;
    color: #4817B3;
}
.btn{
    background-color: #5e14ff;
    color: #ffffff;
}