<app-nav-all></app-nav-all>
<br>
<div class="container contForm text-center">
    <div class="row">
        <div class="col-sm-12 p-3">
            <h2 class="mainTittle">Formulario de Registro</h2>
            <hr>
            <div class="container">
                <form>
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="nombrePropietario" [ngModelOptions]="{standalone: true}" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
                    </div>

                    <div class="form-group">
                      <label for="user">Username</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" required>
                    </div>

                    <div class="form-group">
                      <label for="passw">Password</label>
                      <input type="password" class="form-control" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" required>
                    </div>
                    <button type="input" class="btn" [routerLink]="['/home']" (click)="crearPropietario()" >Registrarse</button>
                  </form>
            </div>
        </div>
    </div>
</div>  